body {
    height: 100vh;
    margin: 0;
    background: url('./background.jpg');
    background-size: cover;
    background-position: center;
    display:flex;
    align-items: center;
    justify-content: center;
  }

#content {
    background: rgba(29, 29, 29, 0.644);
    border-radius: 4px;
    padding: 5px;
    font-size: 2rem;
    color: whitesmoke;
  }